p{
  color:white;
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

h1{
  font-family: georgia, "times new roman", sans-serif;
  text-align: center;
}
h2{
  font-family: georgia, "times new roman", sans-serif;
  text-align: center;
}

h3{
  font-family: georgia, "times new roman", sans-serif;
  text-align: center;
}

body{
  background-color:turquoise
}

#containter{
  width:95%auto;
  background-color:orange;
  margin: 0 auto;
}

#nav {
    padding: 0;
}

#nav li {
    list-style-type: none;
    color:white
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
  }

  #nav a:link, a:visited {
    	display:block;
        color: white;
        background-color:orange;
        font-weight: bold;
        text-align:center;
        text-decoration: none;
        padding: 4px;
        font-family: Helvetica, Arial, sans-serif;
}

  #nav a:hover, a:active {
            background-color:#FF8C00;
        }

.caption{
  color:black;
  font-family:Georgia, "Times New Roman", serif;
  font-size:0.8em;
  font-style:italic;
  margin-top:0;
  text-align:left;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}
