p{
  color:white;
  font-family: helvetica, arial, sans-serif
}

h1{
  font-family: georgia, "times new roman", sans-serif;
}
h2{
  font-family: georgia, "times new roman", sans-serif;
}

h3{
  font-family: georgia, "times new roman", sans-serif;
}

body{
  background-color:blue
}

#containter{
  width:95%auto;background-color:
  background-color:orange;
  margin: 0 auto;
}

.caption{
  color:black;
  font-family:Georgia, "Times New Roman", serif;
  font-size:0.8em;
  font-style:italic;
  margin-top:0;
  text-align:right;
}
